<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<title>用户列表</title>
</head>
<a class="btn btn-default btn-success" th:href="@{/v1/user/add/ui}">添加</a>
<body>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>昵称</th>
				<th>性别</th>
				<th>职位</th>
				<th>邮件</th>
				<th>省份</th>
				<th>城市</th>
				<th>地区</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${userList}" th:object="${user}">
				<td th:text="*{id}"></td>
				<td th:text="*{nickname}"></td>
				<td th:text="*{gender} eq 1 ? '男' : '女'"></td>
				<td th:text="*{job}"></td>
				<td th:text="*{email}"></td>
				<td th:text="*{province}"></td>
				<td th:text="*{city}"></td>
				<td th:text="*{district}"></td>
				<td><a class="btn btn-primary btn-sm btn-block" th:href="@{/v1/user/update/{id}(id=${user.id})}">修改</a></td>
				<td><a class="btn btn-danger btn-sm btn-block" th:href="@{/v1/user/delete/{id}(id=${user.id})}">删除</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
